<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CodeCode/</title>
  <link rel="stylesheet" href="/codecode/css/style.css">
</head>
<body class="partials">
  <div class="container">
    <header class="header">
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <h1 class="logo">CodeCode/</h1>
          <h2 class="title">partials</h2>
        </a>
        <ul class="dropdown-menu">
          
          <li>
            <a class="on" href="/codecode/index">home</a>
          </li>
          
          <li>
            <a class="on" href="/codecode/install">install</a>
          </li>
          
          <li>
            <a class="on" href="/codecode/partials">partials</a>
          </li>
          
          <li>
            <a class="on" href="/codecode/symbols">symbols</a>
          </li>
          
          <li>
            <a class="on" href="/codecode/animation">animation</a>
          </li>
          
          <li>
            <a class="on" href="/codecode/patterns">patterns</a>
          </li>
          
          <li>
            <a class="on" href="/codecode/typography">typography</a>
          </li>
          
          <li>
            <a class="on" href="/codecode/forms">forms</a>
          </li>
          
          <li>
            <a class="on" href="/codecode/responsive">responsive</a>
          </li>
          
          <li>
            <a class="on" href="/codecode/filters">filters</a>
          </li>
          
          <li>
            <a class="off" href="/codecode/data">data</a>
          </li>
          
          <li>
            <a class="on" href="/codecode/frameworks">frameworks</a>
          </li>
          
          <li>
            <a class="on" href="/codecode/social">social</a>
          </li>
          
        </ul>
      </div>
    </header>
    <div class="row">
      <div class="col-md-2 quote">
     modularization for easy updates
      </div>
      <div class="col-md-10 content">
        <div class="row">
          
<div class="col-md-4">
  <h2>On Nunjucks</h2>
  <p><a href="https://mozilla.github.io/nunjucks/" target="_blank">Nunjucks</a> is a rich and powerful templating language from mozilla.</p>
  <p>For your prototype to be rapid and easy to update, it pays to modularize your repeateable code in partials or templates.</p>
</div>
<div class="col-md-4">
  <h2>Using Templates</h2>
  <ol class="tutorial">
    <li>
      create a template on <p class="code folder">app/templates</p>
    </li>
    <li>create variables with <p class="code macro HTML">block</p></li>
    <li>create pages on <p class="code folder">app/pages</p></li>
    <li>assign layout with <p class="code macro HTML">extend</p></li>
    <li>add variable contents with <p class="code macro HTML">block</p></li>
    <li>results (template + page)  appear on <p class="code folder">dist</p></li>
  </ol>
</div>
<div class="col-md-4">
  <h2>Using Partials</h2>
    <ol class="tutorial">
    <li>
      create a partial on <p class="code folder">app/templates/partials</p>
    </li>
    <li>call it on <p class="code folder">app/templates</p> or <p class="code folder">app/pages</p> with <p class="code macro HTML">include</p></li>
  </ol>
  <ul class="soon">
    <li>explain macros (creation and calling)</li>
  </ul>
</div>

        </div>
      </div>
    </div>
    <nav class="menu footer row">
      <div class="col-md-2 social">
        
<p>Made by Nicholas Frota, standing on the shoulder of Open Source giants.</p>
<a href="mailto:info@nicholasfrota.com">
  <i class="fa fa-envelope"></i>
</a>
<a href="http://twitter.com/nonlinear">
  <i class="fa fa-twitter"></i>
</a>
<a href="http://github.com/nonlinear">
  <i class="fa fa-github"></i>
</a>
<a href="http://instagram.com/nonlinear">
  <i class="fa fa-instagram"></i>
</a>
<a href=" http://nonlinear.nyc">
  <i class="fa fa-globe"></i>
</a>
<a href="http://linkedin.com/in/nicholasfrota">
  <i class="fa fa-linkedin"></i>
</a>

      </div>
      <div class="col-md-10">
        <ul>
          <li><a class="on home" href="/codecode/index">home</a>
        </li><li><a class="on install" href="/codecode/install">install</a>
        </li><li><a class="on partials" href="/codecode/partials">partials</a>
        </li><li><a class="on symbols" href="/codecode/symbols">symbols</a>
        </li><li><a class="on animation" href="/codecode/animation">animation</a>
        </li><li><a class="on patterns" href="/codecode/patterns">patterns</a>
        </li><li><a class="on typography" href="/codecode/typography">typography</a>
        </li><li><a class="on forms" href="/codecode/forms">forms</a>
        </li><li><a class="on responsive" href="/codecode/responsive">responsive</a>
        </li><li><a class="on filters" href="/codecode/filters">filters</a>
        </li><li><a class="off data" href="/codecode/data">data</a>
        </li><li><a class="on frameworks" href="/codecode/frameworks">frameworks</a>
        </li><li><a class="on social" href="/codecode/social">social</a>
        </li>
        <li class="gitter">
          <a href="https://gitter.im/nonlinear/codecode?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge"><img src="https://badges.gitter.im/Join%20Chat.svg"></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<script src="/codecode/js/main.js"></script>
</body>
</html>
