header.header
  height: 120px
  background-color: red
  margin-bottom: $gap
  padding-top: 28px
  h2
    background-color: $color-bg
    display: inline-block
    padding: 14px 20px 11px 0
    float: left
    +fadeInLeft

a.logo
  color: $color-text
  float: left
  background-color: $color-bg
  display: inline-block
  text-decoration: none !important
  padding: 5px 10px 1px 0
  line-height: 90%
  font-size: 60px
  +fadeInLeft

