{% extends "layout.html" %}
{% block active %}data{% endblock %}
{% block quote %}DRY the F out{% endblock %}

{% block content %}
<div class="col-md-4">
  <!-- TODO: explain json -->
  <!-- TODO: loops, references -->
    <ul class="soon">
    <li>basic json</li>
    <li>how to create</li>
    <li>how to loop</li>
    <li>language files</li>
    <li>examples</li>
  </ul>
</div>
<div class="col-md-4">
  <div class="conversation">

  </div>
</div>
<div class="col-md-4">
  {% for user in users %}
  <div class="avatar">
    <div class="image" style="background-image: url({{user.image}});"></div>
    <ul>
     <li class="title">
      {{user.name}}
     </li>
     <li>
      {{user.address}}
    </li>
    <li>
      {{user.phone}}
    </li>
    <li class="email">
      <a href="mailto:{{user.email}}">
        Email {{user.name}}
      </a>

    </li>
  </ul>

</div>
{% endfor %}

</div>
{% endblock %}
