{% extends "layout.html" %}
{% block active %}extensions{% endblock %}
{% block title %}extensions{% endblock %}
{% block quote %}adapting codecode to your needs{% endblock %}

{% block content %}


<div class="col-md-4">
  <h2>Semantic UI<a href="https://getbootstrap.com" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h2>
  <p>Although codecode lacks LESS native, you can switch from default bootstrap to Semantic UI in easy steps:</p>
  <h3>Deleting Bootstrap</h3>
  <ol class="tutorial">
    <li>open <p class="code file">app/sass/style.sass</p></li>
    <li>delete lines :72 and :75 and save</li>
    <li>open <p class="code file">gulp/config.js</p></li>
    <li>delete line :46 and save</li>
  </ol>
  <h3>Adding Semantic UI</h3>
  <ol class="tutorial">
    <li>open <p class="code file">app/templates/layout.html</p></li>
    <li>in the line above <p class="code">
      &#60;link rel="stylesheet" href="css/style.css"&#62;
    </p> add <p class="code">
      &#60;link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css"&#62;
    </p></li>
    <li>in the line below <p class="code">
      &#60;script src="js/main.js"&#62;&#60;/script&#62;
    </p> add <p class="code">
      &#60;script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"&#62;&#60;/script&#62;
    </p></li>

  </ol>
</div>
<div class="col-md-4">
 <h2>Wordpress Themes<a href="https://wordpress.org" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h2>
 Soon
</div>
<div class="col-md-4">
  <h2>Family SCSS snippets<a href="https://lukyvj.github.io/family.scss/" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h2>
  <p class="code snippet HTML">family</p>
  <p>select and style specific item objects, visit <a href="https://lukyvj.github.io/family.scss/" target="_blank">family.scss</a> to learn what each does.</p>
  <div class="scroll">
    <p class="code variable">after-first</p>
    <p class="code variable">all-but-first-last</p>
    <p class="code variable">all-but</p>
    <p class="code variable">at-least</p>
    <p class="code variable">at-most</p>
    <p class="code variable">between</p>
    <p class="code variable">even-between</p>
    <p class="code variable">even</p>
    <p class="code variable">every</p>
    <p class="code variable">first-child</p>
    <p class="code variable">first-last</p>
    <p class="code variable">first-of</p>
    <p class="code variable">first</p>
    <p class="code variable">from-end</p>
    <p class="code variable">from-first-last</p>
    <p class="code variable">in-between</p>
    <p class="code variable">last-child</p>
    <p class="code variable">last-of</p>
    <p class="code variable">last</p>
    <p class="code variable">middle</p>
    <p class="code variable">n-between</p>
    <p class="code variable">not-unique</p>
    <p class="code variable">odd-between</p>
    <p class="code variable">odd</p>
    <p class="code variable">unique</p>
  </div>
  <hr>
  <h2>External Snippets</h2>
  <ol class="tutorial">
    <li>
<!--       <hr>
  <p class="sig">Not a bootstrap user? <a href="">Snippets for the Semantic UI framework</a> (thanks <a href="https://twitter.com/mtcarlso">@mtcarlso</a>)</p> -->
  Sublime Semantic UI<a target="_blank" class="btn external" href="https://github.com/idleberg/sublime-semantic-ui"><i class="fa fa-link"></i></a>
</li>
<li>
  Icon Fonts<a target="_blank" class="btn external" href="https://packagecontrol.io/packages/Icon%20Fonts"><i class="fa fa-link"></i></a>
</li>
</ol>
</div>



{% endblock %}
