{% extends "layout.html" %}
{% block active %}extensions{% endblock %}
{% block title %}extensions{% endblock %}
{% block quote %}adapting codecode to your needs{% endblock %}

{% block content %}


<div class="col-md-4">
  <h2>Semantic UI<a href="http://semantic-ui.com" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h2>
  <p>Codecode uses a <a href="https://github.com/doabit/semantic-ui-sass" target="_blank">SASS port of Semantic UI</a>.</p>
  <ol class="tutorial">
  <li>To switch from bootstrap to Semantic UI, run <p class="code terminal">gulp semantic</p></li>
  <li>To switch back to bootstrap, run <p class="code terminal">gulp bootstrap</p></li>
  </ol>
  <hr>
  <p class="sig">Major thanks to <a href="https://www.npmjs.com/package/gulp-inject" target="_blank">gulp-inject</a></p>
</div>
<div class="col-md-4">
 <h2>Wordpress Themes<a href="https://wordpress.org" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h2>
<ul class="soon">
  <li>Soon</li>
</ul>
</div>




{% endblock %}
