{% extends "layout.html" %}
{% block content %}
<div class="container forms">
  <header class="header">
    <a href="index.html" class="logo">{{project.title}}</a>
    <h2>forms</h2>
  </header>
  <div class="row">
    <div class="col-md-2 quote">
      <h1>top-notch interactions</h1>
    </div>
    <div class="col-md-10 content">
      <div class="row">
        <div class="col-md-4">
          <h2>Form Snippets</h2>
          <code class="snippet">disable</code>
          <p>quick mixin to disable link, drag or select.</p>
          <code class="snippet">placeholder</code>
          <p>rules for input and textarea placeholders</p>
          <code class="snippet">scroll-hint</code>
          <p>i'll explain this one later.</p>
        </div>

        <div class="col-md-4">
          <select name="" id="">
            <option>Month</option>
            {% for month in months %}
            <option value="{{month.code}}">{{month.name}}</option>
            {% endfor %}
          </select>
          <hr>
          <select>
            <option>Country</option>
            {% for country in countries %}
            <option value="{{country.code}}">{{country.name}}</option>
            {% endfor %}
          </select>
           <hr>
          <select>
            <option>Industry</option>
            {% for industry in industries %}
            <option value="{{industry.name}}">{{industry.name}}</option>
            {% endfor %}
          </select>
          <hr>
          <select>
            <option>Year</option>
            {% for year in years %}
            <option value="{{year.name}}">{{year.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4">
            <ul class="soon">
      <li>proper styling of form fields</li>
      <li>form variables</li>
      <li>chosen, multiselect</li>
    </ul>
        </div>
      </div>


    </div>
  </div>
  {% import 'macros/nav.html' as nav %}
  {{nav.active('forms')}}
</div>
{% endblock %}
