{% extends "layout.html" %}
{% block content %}
<div class="container forms">
  <header class="header">
    <a href="index.html" class="logo">{{project.title}}</a>
    <h2>forms</h2>
  </header>
  <div class="row">
    <div class="col-md-2 quote">
      <h1>top-notch interactions</h1>
  </div>
    <div class="col-md-10 content">
      <h2>forms snippets</h2>
      <div class="row">
        <div class="col-md-4 col-xs-6">
          <code class="snippet">disable</code>
          <p>quick mixin to disable link, drag or select.</p>
        </div>

        <div class="col-md-4 col-xs-6">
          <code class="snippet">placeholder</code>
          <p>rules for input and textarea placeholders</p>
        </div>
        <div class="col-md-4 col-xs-6">
          <code class="snippet">scroll-hint</code>
          <p>i'll explain this one later.</p>
        </div>
      </div>


   </div>
 </div>
  {% import 'macros/nav.html' as nav %}
     {{nav.active('forms')}}
</div>
{% endblock %}
