{% extends "layout.html" %}
{% block content %}
<div class="container frameworks">
  <header class="header">
    <a href="index.html" class="logo">{{project.title}}</a>
    <h2 class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        frameworks
      </a>
      <ul class="dropdown-menu">
        {% for category in categories %}
        <li>
          <a class="{{category.status}}" href="{{category.link}}.html">{{category.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </h2>
  </header>
  <div class="row">
    <div class="col-md-2 quote">
      <h1>extending common frameworks</h1>
  </div>
    <div class="col-md-10 content">
<div class="row">
     <div class="col-md-4">
      <h2>Bootstrap Macros</h2>
           <p class="code macro HTML">alert</p>
        <p class="code macro HTML">badge</p>
        <p class="code macro HTML">button</p>
        <p class="code macro HTML">collapse</p>
        <p class="code macro HTML">dropdown</p>
        <p class="code macro HTML">grid</p>
        <p class="code macro HTML">label</p>
        <p class="code macro HTML">modal</p>
        <p class="code macro HTML">popover</p>
        <p class="code macro HTML">tabs</p>
        <p class="code macro HTML">tooltip</p>
    </div>
    <div class="col-md-4">
       <h2>Modernizr/Detectizr Macros<a href="https://modernizr.com" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h2>
      most popular detections:<br>
          <p class="code SASS">mac</p><p class="code SASS">windows</p><p class="code SASS">linux</p><p class="code SASS">ios</p><p class="code SASS">android</p><p class="code SASS">firefox</p><p class="code SASS">chrome</p><p class="code SASS">ie</p><p class="code SASS">safari</p><p class="code SASS">touch</p>
<hr>
          <p class="code macro SASS">hidden</p><p class="code macro SASS">visible</p>
          <p class="sig">class extend to hide or show objects.</p>

<hr>
          <p class="code macro SASS">only</p>
          <p class="sig">rules <strong>only</strong> for variable.</p>
          <hr>
          <p class="code macro SASS">except</p>
          <p class="sig">rules <strong>except</strong> variable.</p>

    </div>
   <div class="col-md-4">
   </div>
      </div>


   </div>
 </div>
  <nav class="menu footer row">
        <div class="col-md-2 social">
          {% include "partials/sig.html" %}
        </div>
        <div class="col-md-10">
          <ul>
            {% for category in categories %}<li><a class="{{category.status}} {{category.name}}" href="{{category.link}}.html">{{category.name}}</a>
         </li>{% endfor %}
       </ul>
     </div>
   </nav>
</div>
{% endblock %}





