{% extends "layout.html" %}
{% block content %}
<div class="container images">
  <header class="header">
    <a href="index.html" class="logo">CodeCode/</a>
    <h2>images</h2>
  </header>
  <div class="row">
    <div class="col-md-2 quote">
      <h1>modern filters and patterns</h1>
    </div>
    <div class="col-md-10 content">
      <div class="col-md-4">
        <h2>Background</h2>
      </div>
      <div class="col-md-4">
        <h2>Filters</h2>
        <div class="test filter"></div>
      </div>
      <div class="col-md-4">
        <h2>Patterns</h2>
        <!-- TODO: create patterns -->
      </div>
    </div>
  </div>
  {% import 'macros/nav.html' as nav %}
  {{nav.active('images')}}
</div>
{% endblock %}
