{% extends "layout.html" %}
{% block active %}images{% endblock %}
{% block quote %}modern filters and patterns{% endblock %}

{% block content %}

<div class="col-md-4">
  <h2>PatternBolt
    <a href="http://buseca.github.io/patternbolt/" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h2>
    <p class="code macro SASS">pattern</p>
    <p class="sig">variables are respectively:
      <span class="code variable">$pattern</span>
      <span class="code variable">$background-size</span>, in px
      <span class="code variable">$background-color</span>
      <span class="code variable">$foreground-color</span>
      <span class="code variable">$opacity</span>
      <!-- <span class="code variable">$mask</span> -->
    </p>
    {% include "partials/pattern.html" %}
  </div>
  <div class="col-md-4">
    <h2>CSSgram filters<a href="http://una.im/CSSgram/" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h2>

    {% include "partials/filters.html" %}
  </div>
  <div class="col-md-4">
    <ul class="soon">
      <li>noise, less busy</li>
      <li>lines, vertical and horizontal</li>
      <li>dots, range and inverted</li>
    </ul>
  </div>

  {% endblock %}
