{% extends "layout.html" %}
{% block content %}
<div class="container images">
  <header class="header">
    <a href="index.html" class="logo">CodeCode/</a>
    <h2>images</h2>
  </header>
  <div class="row">
    <div class="col-md-2 quote">
      <h1>modern filters and patterns</h1>
    </div>
    <div class="col-md-10 content">
      <div class="col-md-4">
        <h2>Background</h2>
      </div>
      <div class="col-md-4">
        <h2>Filters</h2>
        <img src="images/pass.png" class="filter aden" alt="">
<img src="images/pass.png" class="filter inkwell" alt="">
<img src="images/pass.png" class="filter perpetua" alt="">
<img src="images/pass.png" class="filter reyes" alt="">
<img src="images/pass.png" class="filter gingham" alt="">
<img src="images/pass.png" class="filter toaster" alt="">
<img src="images/pass.png" class="filter walden" alt="">
<img src="images/pass.png" class="filter hudson" alt="">
<img src="images/pass.png" class="filter earlybird" alt="">
<img src="images/pass.png" class="filter mayfair" alt="">
<img src="images/pass.png" class="filter lofi" alt="">
<img src="images/pass.png" class="filter _1977" alt="">
<img src="images/pass.png" class="filter brooklyn" alt="">
<img src="images/pass.png" class="filter xpro2" alt="">
<img src="images/pass.png" class="filter nashville" alt="">
<img src="images/pass.png" class="filter lark" alt="">
<img src="images/pass.png" class="filter moon" alt="">
<img src="images/pass.png" class="filter aden" alt="">
<img src="images/pass.png" class="filter inkwell" alt="">
<img src="images/pass.png" class="filter perpetua" alt="">
<img src="images/pass.png" class="filter reyes" alt="">
<img src="images/pass.png" class="filter gingham" alt="">
<img src="images/pass.png" class="filter toaster" alt="">
<img src="images/pass.png" class="filter walden" alt="">
<img src="images/pass.png" class="filter hudson" alt="">
<img src="images/pass.png" class="filter earlybird" alt="">
<img src="images/pass.png" class="filter mayfair" alt="">
<img src="images/pass.png" class="filter lofi" alt="">
<img src="images/pass.png" class="filter _1977" alt="">
<img src="images/pass.png" class="filter brooklyn" alt="">
<img src="images/pass.png" class="filter xpro2" alt="">
<img src="images/pass.png" class="filter nashville" alt="">
<img src="images/pass.png" class="filter lark" alt="">
<img src="images/pass.png" class="filter moon" alt="">


      </div>
      <div class="col-md-4">
        <h2>Patterns</h2>
        <!-- TODO: create patterns -->
      </div>
    </div>
  </div>
  {% import 'macros/nav.html' as nav %}
  {{nav.active('images')}}
</div>
{% endblock %}
