{% extends "layout.html" %}
{% block content %}
<div class="container index">
  <header class="header">
    <a href="index.html" class="logo">{{project.title}}</a>
    <!-- <h2 class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      </a>
      <ul class="dropdown-menu">
        {% for category in categories %}
        <li>
          <a class="{{category.status}}" href="{{category.link}}.html">{{category.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </h2> -->
  </header>
  <div class="row">
    <div class="col-md-2 quote">
      <h1>Rapid, Rapid Clickable Prototypes</h1>
      <h2>so you can focus on design, not code</h2>
    </div>
    <div class="col-md-10 content">
      <div class="row">
        <div class="col-md-4">
          <h2>Legends</h2>
          <table class="legend">
           <tbody>
            <tr>
              <td><p class="code terminal">terminal</p></td>
              <td>a terminal command</td>
            </tr>
            <tr>
              <td><p class="code folder">folder</p></td>
              <td>a folder to navigate</td>
            </tr>
            <tr>
              <td><p class="code file">file</p></td>
              <td>a file to edit</td>
            </tr>
            <tr>
              <td><p class="code HTML">HTML</p></td>
              <td>an HTML script</td>
            </tr>
            <tr>
              <td><p class="code SASS">SASS</p></td>
              <td>a SASS script</td>
            </tr>
            <tr>
              <td><p class="code variable">variable</p></td>
              <td>a variable</td>
            </tr>
            <tr>
              <td><p class="code macro SASS">macro</p></td>
              <td>HTML or SASS macro (sublime text only)</td>
            </tr>
          </tbody>
        </table>





      </div>
      <div class="col-md-4">
        <h2>What's inside</h2>
          <h4 class="title">BrowserSync <a href="http://www.browsersync.io" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h4>
          <p class="sig">Reloads page automatically on edit.</p>
          <h4 class="title">SASS<a href="http://sass-lang.com" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h4>
          <p class="sig">Lib-sass goodness</p>
          <h4 class="title">Bootstrap<a href="http://getbootstrap.com" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h4>
          <p class="sig">Forms, grids, etc. More in <a href="frameworks.html">frameworks</a></p>
          <h4 class="title">FontAwesome<a href="https://fortawesome.github.io/Font-Awesome/" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h4>
          <p class="sig">all icons you can think of. More in <a href="symbols.html">symbols</a></p>
          <h4 class="title">Modernizr (+ Detectizr)<a href="https://modernizr.com" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h4>
          <p class="sig">js library that detects all you need to know about the machine your page is loading, and react accordingly. More in <a href="frameworks.html">frameworks</a></p>
          <h4 class="title">Nunjucks<a href="https://mozilla.github.io/nunjucks/" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h4>
          <p class="sig">All partials and templates for true rapid prototyping.</p>
          <h4 class="title">unCSS<a href="https://github.com/giakki/uncss" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h4>
          <p class="sig">Removes unused CSS code automatically. More in <a href="install.html">install</a>.</p>
          <h4 class="title">gh-pages<a href="https://pages.github.com" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h4>
          <p class="sig">Publish your changes on github. More in <a href="install.html">install</a>.</p>
          <!-- <h4 class="title">SVG-ready<a href="" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h4>
          <p class="sig">Numquam, voluptatum ex voluptatibus at? Delectus sunt tenetur similique voluptatibus cum! Beatae.</p> -->
    </div>
    <div class="col-md-4">
     <h2>Requirements</h2>
     <ol class="tutorial">
       <li>Node<a target="_blank" class="btn external" href="https://nodejs.org"><i class="fa fa-link"></i></a></li>
       <li>Gulp<a target="_blank" class="btn external" href="http://gulpjs.com"><i class="fa fa-link"></i></a></li>
       <li>GitHub Desktop<a target="_blank" class="btn external" href="https://desktop.github.com"><i class="fa fa-link"></i></a></li>
       <li>Sublime Text<a target="_blank" class="btn external" href="http://www.sublimetext.com"><i class="fa fa-link"></i></a></li>
     </ol>
     <a href="install.html" class="btn btn-block"><i class="fa fa-check"></i>Install</a>
   </div>
 </div>
</div>
</div>
<nav class="menu footer row">
        <div class="col-md-2 social">
          {% include "partials/sig.html" %}
        </div>
        <div class="col-md-10">
          <ul>
            {% for category in categories %}<li><a class="{{category.status}} {{category.name}}" href="{{category.link}}.html">{{category.name}}</a>
         </li>{% endfor %}
       </ul>
     </div>
   </nav>
</div>

{% endblock %}
