{% extends "layout.html" %}
{% block content %}
<div class="container partials">
  <header class="header">
    <a href="index.html" class="logo">{{project.title}}</a>
    <h2 class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        partials
      </a>
      <ul class="dropdown-menu">
        {% for category in categories %}
        <li>
          <a class="{{category.status}}" href="{{category.link}}.html">{{category.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </h2>
  </header>
  <div class="row">
    <div class="col-md-2 quote">
      <h1>modularize your project for easy updates</h1>
  </div>
    <div class="col-md-10 content">
     <h3 class="todo">explain nunjucks</h3>
   </div>
 </div>
  <nav class="menu footer row">
        <div class="col-md-2 social">
          {% include "partials/sig.html" %}
        </div>
        <div class="col-md-10">
          <ul>
            {% for category in categories %}<li><a class="{{category.status}} {{category.name}}" href="{{category.link}}.html">{{category.name}}</a>
         </li>{% endfor %}
       </ul>
     </div>
   </nav>
</div>
{% endblock %}
