{% extends "layout.html" %}
{% block active %}partials{% endblock %}
{% block quote %}modularization for easy updates{% endblock %}

{% block content %}
<div class="col-md-4">
  <h2>Templates</h2>
  <ul class="soon">
    <li>explain templates</li>
    <li>how to create</li>
    <li>how to call it</li>
    <li>frontmatter?</li>
  </ul>
</div>
<div class="col-md-4">
  <h2>Partials</h2>
  <ul class="soon">
    <li>explain partials</li>
    <li>how to create</li>
    <li>how to call it</li>
  </ul>
</div>
<div class="col-md-4">
  <h2>Macros</h2>
  <ul class="soon">
    <li>explain macros</li>
    <li>how to create</li>
    <li>how to call it</li>
  </ul>
</div>
{% endblock %}
