{% extends "layout.html" %}
{% block content %}
<div class="container social">
  <header class="header">
    <a href="index.html" class="logo">{{project.title}}</a>
    <h2>social</h2>
  </header>
  <div class="row">
    <div class="col-md-2 quote">
      <h1>play well with others: code to integrate with other systems</h1>
  </div>
    <div class="col-md-10 content">
      <h2>Social Macros</h2>
      <div class="row">

        <div class="col-md-4">
          <p class="code macro HTML">email</p>
          <p class="sig">email HTML link</p>
          <hr>
          <p class="code macro HTML">facebook</p>
          <p class="sig">facebook share HTML link</p>
        <hr>
          <p class="code macro HTML">google</p>
          <p class="sig">G+ share HTML link</p>
        </div>
        <div class="col-md-4">
          <p class="code macro HTML">linkedin</p>
          <p class="sig">linkedin share HTML link</p>
        <hr>
          <p class="code macro HTML">pinterest</p>
          <p class="sig">pinterest share HTML link</p>
        <hr>
          <p class="code macro HTML">reddit</p>
          <p class="sig">reddit share HTML link</p>
        <hr>
          <p class="code macro HTML">twitter</p>
          <p class="sig">twitter share HTML link</p>
        </div>
      </div>


   </div>
 </div>
  {% import 'macros/nav.html' as nav %}
     {{nav.active('social')}}
</div>
{% endblock %}
