{% extends "layout.html" %}
{% block content %}
<div class="container symbols">
  <header class="header">
    <a href="index.html" class="logo">CodeCode/</a>
    <h2>symbols</h2>
  </header>
  <div class="row">
    <div class="col-md-2 quote">
      <h1>all vector icons you may possibly need</h1>
  </div>
    <div class="col-md-10 content">
<div class="row">
     <div class="col-md-4">
      <h2>FontAwesome</h2>
      <p><a href="https://fortawesome.github.io/Font-Awesome/">FontAwesome</a> is an icon-font with all sort of icons you can think of. I mean, <a href="https://fortawesome.github.io/Font-Awesome/">check it out</a>.</p>
      <p>To call it, use:</p>
      <textarea class="code"><i class="fa fa-FILENAME"></i></textarea>
      <p>FontAwesome has more icons that anyone can remember, so make sure to browse options.</p>
    </div>
    <div class="col-md-4">
     <h2>favicons</h2>
     <p>Favicons are the little icon identifiers of your site in different browsers and systems.</p>
     <ol class="tutorial">
       <li>create a 260x260 png logo file</li>
       <li>visit <a href="http://realfavicongenerator.net">Real Favicon Generator</a> and follow the instructions</li>
     </ol>
   </div>
   <div class="col-md-4">
    <h2>SVG</h2>
    <ol class="tutorial">
      <li>Go to <code class="folder">app/svg</code> folder</li>
      <li>Add or edit an <code class="doc">svg</code> file</li>
      <li>Insert it on your HTML with: <textarea class="code"><i class="icon icon-FILENAME"></i></textarea></li>
    </ol>
    <ul class="soon">
      <li>Manipulate SVG colors and animation via CSS</li>
      <li>Replace FontAwesome with SVG symbols</li>
      <li>FontAwesome SVG library, to be inserted if needed</li>
    </ul>
        </div>
      </div>


   </div>
 </div>
  {% import 'macros/nav.html' as nav %}
     {{nav.active('symbols')}}
</div>
{% endblock %}
