@font-face {
    font-family: "false";
    src: url("dense.eot");
    src: url("dense.eot?#iefix") format("embedded-opentype"),
         url("dense.woff") format("woff"),
         url("dense.ttf") format("truetype"),
         url("dense.svg#false") format("svg");
    font-weight: false;
    font-style: false;
}