<div class="flexslider">
  <ul class="slides">
    <li>
      <h3 class="title">.filter-aden</h3>
      <img src="images/pass.png" class="filter-aden" alt="">
    </li>
    <li>
      <h3 class="title">.filter-inkwell</h3>
      <img src="images/pass.png" class="filter-inkwell" alt="">
    </li>
    <li>
      <h3 class="title">.filter-perpetua</h3>
      <img src="images/pass.png" class="filter-perpetua" alt="">
    </li>
    <li>
      <h3 class="title">.filter-reyes</h3>
      <img src="images/pass.png" class="filter-reyes" alt="">
    </li>
    <li>
      <h3 class="title">.filter-gingham</h3>
      <img src="images/pass.png" class="filter-gingham" alt="">
    </li>
    <li>
      <h3 class="title">.filter-toaster</h3>
      <img src="images/pass.png" class="filter-toaster" alt="">
    </li>
    <li>
      <h3 class="title">.filter-walden</h3>
      <img src="images/pass.png" class="filter-walden" alt="">
    </li>
    <li>
      <h3 class="title">.filter-hudson</h3>
      <img src="images/pass.png" class="filter-hudson" alt="">
    </li>
    <li>
      <h3 class="title">.filter-earlybird</h3>
      <img src="images/pass.png" class="filter-earlybird" alt="">
    </li>
    <li>
      <h3 class="title">.filter-mayfair</h3>
      <img src="images/pass.png" class="filter-mayfair" alt="">
    </li>
    <li>
      <h3 class="title">.filter-lofi</h3>
      <img src="images/pass.png" class="filter-lofi" alt="">
    </li>
    <li>
      <h3 class="title">.filter-1971</h3>
      <img src="images/pass.png" class="filter-1977" alt="">
    </li>
    <li>
      <h3 class="title">.filter-brooklyn</h3>
      <img src="images/pass.png" class="filter-brooklyn" alt="">
    </li>
    <li>
      <h3 class="title">.filter-xpro2</h3>
      <img src="images/pass.png" class="filter-xpro2" alt="">
    </li>
    <li>
      <h3 class="title">.filter-nashville</h3>
      <img src="images/pass.png" class="filter-nashville" alt="">
    </li>
    <li>
      <h3 class="title">.filter-lark</h3>
      <img src="images/pass.png" class="filter-lark" alt="">
    </li>
    <li>
      <h3 class="title">.filter-moon</h3>
      <img src="images/pass.png" class="filter-moon" alt="">
    </li>
  </ul>
</div>
