<div class="flexslider">
  <ul class="slides">
    <li>
      <p class="code HTML">filter-aden</p>
      <img src="images/pass.png" class="filter-aden" alt="">
    </li>
    <li>
      <p class="code HTML">filter-inkwell</p>
      <img src="images/pass.png" class="filter-inkwell" alt="">
    </li>
    <li>
      <p class="code HTML">filter-perpetua</p>
      <img src="images/pass.png" class="filter-perpetua" alt="">
    </li>
    <li>
      <p class="code HTML">filter-reyes</p>
      <img src="images/pass.png" class="filter-reyes" alt="">
    </li>
    <li>
      <p class="code HTML">filter-gingham</p>
      <img src="images/pass.png" class="filter-gingham" alt="">
    </li>
    <li>
      <p class="code HTML">filter-toaster</p>
      <img src="images/pass.png" class="filter-toaster" alt="">
    </li>
    <li>
      <p class="code HTML">filter-walden</p>
      <img src="images/pass.png" class="filter-walden" alt="">
    </li>
    <li>
      <p class="code HTML">filter-hudson</p>
      <img src="images/pass.png" class="filter-hudson" alt="">
    </li>
    <li>
      <p class="code HTML">filter-earlybird</p>
      <img src="images/pass.png" class="filter-earlybird" alt="">
    </li>
    <li>
      <p class="code HTML">filter-mayfair</p>
      <img src="images/pass.png" class="filter-mayfair" alt="">
    </li>
    <li>
      <p class="code HTML">filter-lofi</p>
      <img src="images/pass.png" class="filter-lofi" alt="">
    </li>
    <li>
      <p class="code HTML">filter-1971</p>
      <img src="images/pass.png" class="filter-1977" alt="">
    </li>
    <li>
      <p class="code HTML">filter-brooklyn</p>
      <img src="images/pass.png" class="filter-brooklyn" alt="">
    </li>
    <li>
      <p class="code HTML">filter-xpro2</p>
      <img src="images/pass.png" class="filter-xpro2" alt="">
    </li>
    <li>
      <p class="code HTML">filter-nashville</p>
      <img src="images/pass.png" class="filter-nashville" alt="">
    </li>
    <li>
      <p class="code HTML">filter-lark</p>
      <img src="images/pass.png" class="filter-lark" alt="">
    </li>
    <li>
      <p class="code HTML">filter-moon</p>
      <img src="images/pass.png" class="filter-moon" alt="">
    </li>
  </ul>
</div>
