
  <ul class="pattern">
  <li>
    <p class="code variable">lines-a</p>
  </li>
  <li>
    <p class="code variable">lines-b</p>
  </li>
  <li>
    <p class="code variable">lines-c</p>
  </li>
  <li>
    <p class="code variable">lines-45-a</p>
  </li>
  <li>
    <p class="code variable">lines-45-b</p>
  </li>
  <li>
    <p class="code variable">lines-45-c</p>
  </li>
  <li>
    <p class="code variable">cross-a</p>
  </li>
  <li>
    <p class="code variable">cross-b</p>
  </li>
  <li>
    <p class="code variable">cross-c</p>
  </li>
  <li>
    <p class="code variable">cross-thin-a</p>
  </li>
  <li>
    <p class="code variable">cross-thin-b</p>
  </li>
  <li>
    <p class="code variable">cross-thin-c</p>
  </li>
  <li>
    <p class="code variable">candy-a</p>
  </li>
  <li>
    <p class="code variable">candy-b</p>
  </li>
    <li>
    <p class="code variable">candy-c</p>
  </li>
      <li>
    <p class="code variable">dots-a</p>
  </li>
      <li>
    <p class="code variable">dots-b</p>
  </li>
    <li>
    <p class="code variable">dots-c</p>
  </li>
</ul>
